@font-face {
font-family: 'FjallaOne';
font-weight: 400;
src: url(fonts/FjallaOne-Regular.ttf);
}

@font-face{
  font-family: 'Lalezar';
  font-weight: 400;
  src: url(fonts/Lalezar-Regular.ttf);
}
